.promotion-card{
    display: flex;
    margin: 10px ;
    padding: 20px;
    border: solid 1px rgb(197, 197, 197);
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgb(180, 180, 180);
    max-width: 700px;
}
.promotion-card__footer{
  display: flex;  
  align-content: space-around;
}
.promotion-card__title{
    margin : 0;
    font-size: 22px;
    font-weight: bold;
    color: rgb(46, 36, 36);
}
.promotion-card__preco{
    font-weight: 700;
    color: rgb(9, 124, 218);
    font-size: 25px;
    margin: 10px 0 ;
    
}
.promotion-card__image{
    width: 110px;
    height: 110px;
    margin-right : 10px ;
}
.promotion-card__footer{
    display: flex;
}
.promotion-card__coments-total{
    margin: auto;
    color: rgb(14, 157, 201);
    font-size: 12pt;
    font-weight: 600;
}
.promotion-card-__coment-1{
    font-weight: 700 ;
    color: lightslategrey;
    font-size: 15pt;
}
.promotion-card__link{
    border: 1px solid rgb(14, 157, 201);
    border-radius: 5px;
    padding : 5px;
    text-decoration: none;
    font-size: 15pt;
    font-weight: 700px;
    color: rgb(14, 157, 201);
    margin-left: -160px;
    margin-right: -60px;
}

